html, body, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.icon {
  position: relative;
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  transform: scale(2);
  
  &::before {
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    vertical-align: middle;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    font-weight: 900;
    font-size: 0.833rem;  
    line-height: 1.2;
    font-family: Arial;
    text-align: center;
  }
}

.icon-success {
  &::before {
    content: '\2713'; // heavy check mark - checkmark - dingbats
    color: green;
  }
}

.u-section-1 {
  background-image: url("images/fsdrewe-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 817px;
}

.u-section-1 .u-list-1 {
  min-height: 597px;
  grid-template-columns: repeat(2, calc(50% - 15px));
  grid-template-rows: repeat(1, auto);
  width: 591px;
  grid-gap: 30px;
  margin: 140px 0 0 auto;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-1 .u-group-1 {
  width: 462px;
  min-height: 289px;
  height: auto;
  margin: -289px auto 60px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 36.44% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-list-1 {
    min-height: 712px;
    width: 491px;
    height: auto;
    margin-top: 60px;
  }

  .u-section-1 .u-group-1 {
    width: 419px;
    min-height: 332px;
    margin-top: -332px;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 17.18% 50%;
  }

  .u-section-1 .u-list-1 {
    min-height: 662px;
    margin-top: 130px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: -130px;
    margin-right: -130px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -130px;
    margin-right: -130px;
  }

  .u-section-1 .u-text-3 {
    margin-left: -130px;
    margin-right: -130px;
  }

  .u-section-1 .u-text-4 {
    margin-left: -130px;
    margin-right: -130px;
  }

  .u-section-1 .u-group-1 {
    min-height: 267px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 26.3% 50%;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 24px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-2 .u-shape-1 {
  height: 421px;
  width: 472px;
  margin: 59px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 457px;
  height: 423px;
  margin: -479px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 10px 32px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-2 .u-shape-1 {
    height: 332px;
    width: 369px;
  }

  .u-section-2 .u-image-1 {
    width: 364px;
    height: 336px;
    margin-top: -390px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-2 .u-shape-1 {
    height: 243px;
    width: 276px;
  }

  .u-section-2 .u-image-1 {
    width: 276px;
    height: 255px;
    margin-top: -301px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-2 .u-shape-1 {
    height: 310px;
    width: 332px;
    margin-right: 70px;
  }

  .u-section-2 .u-image-1 {
    width: 341px;
    height: 310px;
    margin-top: -368px;
    margin-left: 70px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 132px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-2 .u-shape-1 {
    height: 253px;
    width: 300px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 281px;
    height: 259px;
    margin-top: -311px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 172px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 659px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 68px 295px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-3 .u-table-1 {
  margin: 20px auto 60px 0;
}

.u-section-3 .u-table-header-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 900;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 95px;
  }

  .u-section-3 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}